.footer {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  background-color: $verylight-gray;
  &.footer-links {
    display: flex;
  }
  a {
    padding: 0px 10px;
    color: gray;
    opacity: 0.3;
    &:hover {
      opacity: 0.9;
    }
  }
  &.footer-copyright {
    color: gray;
    font-size: 15px;
  }
}
